.div-contasReceber{
    width: 80%;
}
.div-pesquisaConta{
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
}
.div-pesquisaConta input{
    border-radius: 10px;
}
.div-pesquisaConta select{
    border-radius: 10px;
}
.div-pesquisaConta .input-dtInicio{
    margin-right: 10px;
}
.div-pesquisaConta .input-dtFim{
    margin-right: 10px;
}
.div-pesquisaConta .label-nomeCliente{
    width: 7%;
}

.div-buttonFiltrar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.button-filtrarContasReceber{
    width: 20%;
    background: rgb(109, 108, 108);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.button-filtrarContasReceber:hover{
    color: rgb(0, 0, 0);
    background: rgb(230, 230, 230);
}

.modal-content-pgto {
    color: #fff;
    border: 5px solid rgb(187, 190, 187);
    background-color: #575555;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 220px;
  }

  .modal-content-pgto button{
    padding: 12px;
  }
.table-contasReceber .td-cliente{
    width: 20%;
}
