.filtro-despesa{
    position: relative;
    width: 20%;
    left: 180px;
    top: -20px;
    display: inline; 
}
.filtro-despesa select{
    width: 100%;
}
.div-filtrarDespesa{
    margin-top: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    
}
.div-despesas .button-filtrarDespesa{
    
    width: 15%;
    background: rgb(109, 108, 108);
    color: rgb(255, 255, 255);
    border-radius: 15px;
}
.div-despesas .button-filtrarDespesa:hover{
    

    background: rgb(59, 59, 59);
    color: rgb(255, 255, 255);

}
.formularioDespesas{
    margin: 2%;
}
.formularioDespesas input{
    margin-right: 3%;
    margin-top: 20px;
    border-radius: 15px;
}
.formularioDespesas .input-block label{
    color: #e0dfdf;
    font-size: 14px;
    font-weight: bold;
    display: block;
}
.formularioDespesas .block-func{
    width:30%;
}
.formularioDespesas .input-block input{
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: rgb(212, 212, 212);
    border: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.div-despesasT{
    margin-top: 10px;
}
.div-despesas{
    width: 80%;
    background-color: rgb(0, 0, 0,.95);
    box-shadow: 0 0 14px 0 rgba(0 , 0 , 0, 0.02);
    border-radius: 25px;
    color: #ffff;
    position:absolute;
    top:20%;
}
.div-despesas h1{
    width: 100%;
    text-align: center;
}


.tabelaDes{

    overflow-y: auto;
    background-color: rgb(0, 0, 0, 0.95);
    color: white;

    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 16px;

}
.tabelaDes thead{
    width:100%;
    font-size: 20px;
  
    background-color: rgb(104, 100, 100);
    color: #fff;
  }
.tabelaDes .tdD-tipo{
    width: 10%;
}
.tabelaDes .tdD-valor{
    width: 8%;
}
.tabelaDes .tdD-dtLancamento{
    width: 5%;
}
.tabelaDes .tdD-dtVencimento{
    width: 5%;
}
.tabelaDes .tdD-dtParcelas{
    width: 5%;
}
.tabelaDes .tdD-tipoPgto{
    width: 6%;
}
.tabelaDes .tdD-dtPgto{
    width: 5%;
}
