.div-principalPessoa{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.table-pessoa {
  height: 65%;
  width: 80%;
  overflow-y: auto;
  border-radius: 25px;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.tablePes thead{
  width:100%;
  font-size: 20px;

  background-color: rgb(104, 100, 100);
  color: #fff;
}
.tablePes tr{
 height: 40px;
}
.tablePes tr:nth-child(even) {
  background-color: #1f1e1e;
}
.tablePes .tdPes-cpf{
  width:10%;
}
.tablePes .tdPes-nome{
  width:20%;
}
.tablePes .tdPes-acao{
  width:20%;
}
.button-item {
  border: none;
  background: rgb(197, 193, 193);
  color: rgb(22, 22, 22);
  font-weight: bold;
  width: 170px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.button-item:hover{
  background: #fefffe;
  color:rgba(34, 33, 33, 0.849)
}
.button-excluirItem {
  border: none;
  background:rgb(248, 157, 157);
  color: #000;
  font-weight: bold;
  width: 170px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.button-excluirItem:hover{
  background-color: rgb(253, 56, 56);
  color: rgb(255, 255, 255);
}
.buttonBack {
  background: #0f0f0f;
  border: none;
  width: 25%;
  height: 5%;
  margin-top: 1%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(194, 187, 187);
}
.buttonBack:hover{
  background: #fefffe;
  color:rgba(34, 33, 33, 0.849)
}
.loadingListaCliente{
  padding-top: 5%;
  padding-left: 43%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}
.div-pesquisaPes{
    height: 5%;
    width: 60%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}
.div-pesquisaPes input{
  width: 100%;
  height: 77%;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
}
.div-pesquisaPes input:focus{
  outline: none;
}
.div-pesquisaPes .button-pesquisaPes{
    background-image: url('./search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width:40px;
    height: 97%;
    border-left: none;
    border-radius: 0px 8px 8px 0px;
    background-color: rgb(194, 192, 192);
}
.div-pesquisaPes .button-pesquisaPes:hover{
    opacity: 0.8;
}
